/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	margin:0;
	background:url("http://i683.photobucket.com/albums/vv198/jailene1997/bg-body_zpsey8aoipe.jpg") no-repeat;
	background-size: 1920px 1080px;
}
.page{
	background:white no-repeat center top;
	height: 125px;
}

/*------------------------- Font ------------------------*/ 
@font-face {
	font-family: 'Quartz';
	src: url('QUARTZO.ttf') format('truetype');
	src: url('QUARTZO.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*------------------------- Header ------------------------*/ 
.header{
	width:999px;
	margin:0 auto;
	height:100px;
	padding:36px 10px 0;
}
.header a#logo{
	display:block;
	float:left;
	outline:none;
}
.header a#logo img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.header ul{
	margin:0;
	list-style:none;
	padding:13px 0 0;
	float:right;
}
.header ul li{
	float:left;
	margin:0 0 0 50px;
}
.header ul li img{
	margin:-25px 0 0 0;
}
.header ul a,.header ul li a:hover{
	color:grey;
	text-decoration: none;
}
.header ul li a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.header ul li a{
	font-size:19px;
	color: black;
	font-family: 'Quartz';
}

/*------------------------- Body ------------------------*/ 

.body{
	width:1100px;
	margin:0 auto;
	overflow:hidden;
		padding: 25px 0 0;
}.body ul.featured{
	list-style:none;
	overflow:hidden;
		padding: 25px 0 0;
}
.body ul.featured li:nth-child(2){
	margin:50px 0 0;
}
.body ul.featured li:nth-child(4){
	margin:50px 0 0;
}
.body ul.featured li{
	float:left;
	padding:0;
}
.body ul.featured li a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body p{
	font-family: 'Quartz';
	font-size:34px;
	text-align:center;
	color:#ffffff;
	line-height:0;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 1.50px;
}
.body ul{
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
.body ul li{
	overflow:hidden;
	padding:30px 0;
}
.body ul li div{
	float:left;
	margin:0 0 0 50px;
}
.body ul li div p{
	line-height:22px;
	font-family: 'Quartz';
	font-size:30px;
	color: black;
	padding:0 0 90px;
	-webkit-text-stroke-width: 0;
	margin:0;

}
.body ul.paging{
	margin:15px 0 10px 210px;
}
.body ul.paging li{
	float:left;
	padding:0 5px;
	background:none;
}
.body ul.paging li a{
	text-decoration:none;
	color:#ff7e0d;
	font-family: arial;
	font-size:12px;
}
/*------------------------- Bottom ------------------------*/ 
.body ul.bottom{
	list-style:none;
	overflow:hidden;
	padding:
}
.body ul.bottom li:first-child{
	padding:90px 0 0;
}
.body ul.bottom li{
	float:left;
	padding:75px 0 0;
}
.body ul.bottom li div{
	width: 300px;
	text-align: center;
	word-wrap: break-word;
}
.body ul.bottom li div a{
	text-decoration: none;
	color:white;
	position: relative;
	right: 25px;
	font-size: 22px;
	font-family: 'Quartz';
	text-transform: uppercase;
	-webkit-text-stroke-color: black;
	-webkit-text-stroke-width: 0.75px;
}
.body ul.bottom li div p{
	font-family: 'Quartz';
	color: black;
	position: relative;
	top: 25px;
	left: 50px;
	font-size:24px;
	text-align: left;
	width: 200px;
	-webkit-text-stroke-color: grey;
	-webkit-text-stroke-width: 1.00px; 
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
